:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #7e296;
  --special-green: #91C92F;
  --special-grey: #f6dada;
}

@font-face {
  font-family: "Gilroy";
  src: local("../fonts/gilroyextrabold.woff2"),
  local("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("../fonts/gilroyLight.woff2"),
  local("../fonts/gilroyex.woff2"),
  url("../fonts/gilroyLight.woff2") format("woff2"),
  url("../fonts/gilroyLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("../fonts/opensans.woff2"),
  local("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("../fonts/opensanslight.woff2"),
  local("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page__body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.main-nav__wrapper {
  background-color: var(--special-yellow);
}

.menu,
.nav-menu,
.catalog-menu,
.slider__list,
.delivery-company,
.catalog__list,
.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu,
.catalog-menu,
.slide__title,
.slide__description,
.catalog__list,
.slide-service__title,
.slide-service__description,
.characteristics__column--description,
.about-us__title,
.contacts__title,
.about-us__description,
.contacts__description,
.menu__link--low,
.address-footer,
.tel-number {
  text-transform: none;
}

.nav-menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

.catalog-menu {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
}

.slide__number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 179px;
  line-height: 219px;
  /*color: var(--basic-white);*/
}

.slide__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 57px;
}

.link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.link--active {
  color: var(--special-yellow);
}

.characteristics {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: normal;
}

.characteristics__column {
  font-size: 36px;
  line-height: 41px;
}

.characteristics__column--description {
  font-size: 13px;
  font-weight: 300;
}

.catalog__list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.catalog__item {
  background-color: var(--special-yellow-light);
}

.slide-service__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide-service__description {
  line-height: 30px;
}

.about-us__title,
.contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.about-us__description,
.contacts__description {
  line-height: 28px;
}

.delivery-company {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.page__footer {
  background-color: var(--basic-dark);
}

.menu__link--low {
  color: rgba(255, 255, 255, 0.7);
}

.nav-menu__link--low {
  color: var(--basic-white);
}

.address-footer,
.tel-number {
  color: var(--basic-white);
}
