:root {
  --basic-black: #000000;
  --basic-black-06: rgba(0, 0, 0, 0.6);
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-black-025: rgba(0, 0, 0, 0.25);
  --basic-black-01: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-07: rgba(255, 255, 255, 0.7);
  --basic-white-06: rgba(255, 255, 255, 0.6);
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --basic-grey: #464646;
  --basic-grey-shadow: #DCDCDC;
  --basic-grey-hover: #D9D9D9;
  --basic-grey-disable: #A6A6A6;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #7E296;
  --special-green: #91C92F;
  --special-grey: #f6dada;
}

/** { background-color: rgba(255,0,0,.2); }*/
/** * { background-color: rgba(0,255,0,.2); }*/
/** * * { background-color: rgba(0,0,255,.2); }*/
/** * * * { background-color: rgba(255,0,255,.2); }*/
/** * * * * { background-color: rgba(0,255,255,.2); }*/
/** * * * * * { background-color: rgba(255,255,0,.2); }*/
/** * * * * * * { background-color: rgba(255,0,0,.2); }*/
/** * * * * * * * { background-color: rgba(0,255,0,.2); }*/
/** * * * * * * * * { background-color: rgba(0,0,255,.2); }*/

@font-face {
  font-family: "Gilroy";
  src: local("../fonts/gilroyextrabold.woff2"),
  local("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("../fonts/gilroyLight.woff2"),
  local("../fonts/gilroyex.woff2"),
  url("../fonts/gilroyLight.woff2") format("woff2"),
  url("../fonts/gilroyLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("../fonts/opensans.woff2"),
  local("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("../fonts/opensanslight.woff2"),
  local("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*Поисковая строка*/

.search-form__input::-webkit-input-placeholder {

  color: var(--basic-black-03);
}

.search-form__input::-moz-placeholder {
  color: var(--basic-black-03);
}

.search-form__input:-moz-placeholder {
  color: var(--basic-black-03);
}

.search-form__input:-ms-input-placeholder {
  color: var(--basic-black-03);
}

.search-form__input:hover::-webkit-input-placeholder {
  color: var(--basic-black-06);
}

.search-form__input:hover::-moz-placeholder {
  color: var(--basic-black-06);
}

.search-form__input:hover:-moz-placeholder {
  color: var(--basic-black-06);
}

.search-form__input:hover:-ms-input-placeholder {
  color: var(--basic-black-06);
}

.search-form__input:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}

.search-form__input:focus::-moz-placeholder {
  color: var(--basic-black);
}

.search-form__input:focus:-moz-placeholder {
  color: var(--basic-black);
}

.search-form__input:focus:-ms-input-placeholder {
  color: var(--basic-black);
}

.search-form__input {
  box-sizing: border-box;
  position: relative;
  padding: 14px 14px 14px 40px;
  width: 410px;
  border: none;
  color: var(--basic-black);
  background-color: var(--special-yellow);
  line-height: 20px;
}

.search-form__input:hover {
  border-bottom: 2px solid var(--basic-black);
  margin-bottom: -2px;
}
.search-form:hover .btn-search {
  visibility: visible;
}

/*тут должна быть иконка лупы*/
/*.::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 16px;*/
/*  height: 16px;*/
/*  background-image: url("../img/icon/icon_search.svg");*/
/*  background-repeat: no-repeat;*/
/*}*/

.btn-search {
  visibility: hidden;
  background-color: var(--special-yellow);
  outline: 2px solid var(--basic-black);
  border: none;
  margin: 0;
  padding: 0;
  width: 84px;
  height: 46px;
  text-transform: inherit;
}

.btn-search:hover,
.btn-search:focus {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.btn-search:active {
  color: var(--basic-white-03);
}


.main-nav__wrapper {
  position: relative;
  background-color: var(--special-yellow);
  margin-top: 40px;
  padding: 0 60px;
  height: 300px;
}

.main-nav__wrapper--catalog {
  height: 210px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu,
.nav-menu,
.catalog-menu,
.slider__list,
.delivery-company,
.catalog__list,
.social,
.breadcrumbs,
.catalog-list,
.pagination,
.slide-service__list,
.popular-product__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu,
.catalog-menu,
.slide__title,
.slide__description,
.catalog__list,
.slide-service__title,
.slide-service__description,
.characteristics__column--description,
.about-us__title,
.contacts__title,
.about-us__description,
.contacts__description,
.menu__link--low,
.address-footer,
.tel-number,
.product-title,
.breadcrumbs__link,
.filter__title-sort,
.filter__item,
.product-card__comparison,
.product-card__name {
  text-transform: none;
}

.nav-menu,
.slide__number,
.slide__title,
.product-title,
.link,
.characteristics,
.catalog__list,
.slide-service__title,
.about-us__title,
.contacts__title,
.delivery-company,
.filter__title,
.filter__title-sort,
.pagination {
  font-family: "Gilroy", Arial, sans-serif;
}
.nav-menu,
.slide__number,
.product-card__name,
.link,
.pagination__link,
.slide__title,
.product-title,
.filter__title-sort,
.filter__title,
.delivery-company,
.about-us__title,
.contacts__title,
.slide-service__title,
.catalog__list {
  font-weight: 900;
}

.nav-menu,
.link,
.catalog__list,
.product-card__name {
  font-size: 18px;
}


.product-card__price,
.delivery-company,
.filter__title,
.pagination__link {
  font-size: 16px;
}

.breadcrumbs__link,
.filter__title-sort {
  font-size: 14px;
}

.catalog-menu {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.slide__number {
  font-size: 179px;
  line-height: 219px;
}

.slide__title,
.product-title {
  font-size: 47px;
  line-height: 57px;
}

.link {
  position: relative;
  display: block;
  width: 220px;
  margin: 0;
  padding: 8px 0;
  overflow: hidden;
  transition: 1s all ease;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.link:active {
  color: var(--basic-black-03);
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: var(--special-yellow-dark);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.link:hover::before {
  height: 100%;
}

/*Слайдер*/

.slider {
  position: relative;
  margin-top: -82px;
}

.slider__item {
  position: relative;
  width: 1024px;
  height: 506px;
  margin: 0 auto;
}

.slider__list::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 40px;
  width: 182px;
  height: 170px;
  background-image: url("../img/icon/01.svg");
  background-repeat: no-repeat;
}

.slider_two {
  display: none;
}

.slider_three {
  display: none;
}

.slide__product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slide__controls {
  position: absolute;
  right: 101px;
  bottom: 157px;
  z-index: 20;
  display: flex;
  width: 72px;
  justify-content: space-between;
}

.slide__controls-btn {
  position: relative;
  padding: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
}

.slide__controls-btn:hover {

  transform: scale(1.1);
}

.slide__controls_active:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.slide__description {
  padding: 0;
  margin: 0 0 60px 0;
}

.characteristics {
  font-weight: normal;
  margin-top: 60px;
}

.characteristics__column {
  text-transform: lowercase;
  padding-right: 60px;
  font-size: 36px;
  line-height: 41px;
}

.characteristics__column:last-child {
  text-transform: capitalize;
  padding-right: 0;
}

.characteristics__column--description {
  padding-top: 15px;
}

.characteristics__column--description,
.product-card__comparison {
  font-size: 13px;
  font-weight: 300;
}

.about-us__title,
.contacts__title,
.slide-service__title {
  font-size: 47px;
  line-height: 58px;
}

.svg-logo {
  margin-top: -17px;
}

.menu__link,
.nav-menu__link {
  position: relative;
  display: block;
  color: var(--basic-black);
}

.menu__link:hover,
.nav-menu__link:hover {
  color: var(--basic-black-06);
  transition: color .2s ease-out;
}

.menu__link:focus,
.link-enter:focus::before,
.link-compare:focus::before,
.link-cart:focus::before {
  color: var(--basic-black-03);
  transition: color .2s ease-out;
}

.link-enter:hover::before,
.link-compare:hover::before,
.link-cart:hover::before,
.logo:hover,
.catalog-menu__link:hover,
.menu__link--low-enter:hover::before,
.menu__link--low-compare:hover::before,
.menu__link--low-cart:hover::before {
  opacity: 0.6;
  transition: opacity .5s ease-out;
}

.logo:active,
.nav-menu__link:active,
.catalog-menu__link:active,
.menu__link--low-enter:active::before,
.menu__link--low-compare:active::before,
.menu__link--low-cart:active::before {
  opacity: 0.3;
  transition: opacity .5s ease-out;
}

.link-enter {
  margin-right: 213px;
}

.link-cart {
  margin-left: 50px;
}
.link-enter::before,
.link-compare::before,
.link-cart::before,
.menu__link--low-enter::before,
.menu__link--low-compare::before,
.menu__link--low-cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -17px;
  width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-enter::before {
  background-image: url("../img/icon/icon_user.svg");
}

.link-compare::before {
  background-image: url("../img/icon/icon_chart.svg");
}

.link-cart::before {
  background-image: url("../img/icon/icon_cart.svg");
}

.menu__link--low-enter::before {
  background-image: url("../img/icon/icon_user_yellow.svg");
}

.menu__link--low-compare::before {
  background-image: url("../img/icon/icon_chart_yellow.svg");
}

.menu__link--low-cart::before {
  background-image: url("../img/icon/icon_cart_yellow.svg");
}

.link-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  right: 385px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-contact {
  margin-left: 111px;
}

.link-guarantees {
  margin-left: 38px;
}

.catalog-menu__submenu {
  display: flex;
  margin-top: 18px;
}

.catalog-menu {
  margin-right: 61px;
}

.catalog-menu__item {
  margin-bottom: 20px;
}

.nav-menu__item:first-child {
  position: relative;
  display: inline-block;
}

.nav-menu__item:first-child:hover .catalog-menu__submenu {
  visibility: visible;
  /*хз как сделать не могу додуматься*/
  /*content: "";*/
  /*position: absolute;*/
  /*top: 20px;*/
  /*left: -60px;*/
  /*width: 1160px;*/
  /*height: 146px;*/
  /*background-color: var(--special-yellow);*/
}

.nav-menu__item:first-child:hover .slider {
  z-index: 1;
}

.catalog-menu__submenu {
  visibility: hidden;
}

.breadcrumbs__link {
  opacity: 0.3;
}

.slide-service__description {
  line-height: 30px;
}

.about-us__description,
.contacts__description,
.delivery-company {
  line-height: 28px;
}

.catalog__list,
.nav-menu,
.product-card__name,
.link {
  line-height: 22px;
}

.product-card__comparison,
.product-card__price {
  line-height: 18px;
}

.filter__title-sort {
  line-height: 17px;
}

.filter__cost,
.filter__color,
.filter__bt,
.pagination {
  background-color: var(--basic-grey-light);
}

.filter__cost {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 237px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: var(--basic-grey-light);
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-black-025);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 170px;
}

.price-controls {
  position: relative;
}
.price-controls .min-price,
.price-controls .max-price {
  position: absolute;
  top: -43px;
  text-transform: initial;
}

.price-controls .max-price {
  left: 120px;
}

.link--btn-filter {
  margin-top: 20px;
  border: none;
  background-color: var(--special-yellow-light);
}

/*.slide__number,*/
.address-footer,
.tel-number,
.nav-menu__link--low {
  color: var(--basic-white);
}

.catalog {
  margin-top: 95px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.catalog-item__img {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  transition: .5s ease-in;
}

.catalog__item {
  position: relative;
  display: grid;
  grid-gap: 38px;
}

.catalog-item__img:hover {
  background-color: var(--special-yellow-dark);
  transition: .5s  ease-out;
}
.catalog-1::before,
.catalog-2::before,
.catalog-3::before,
.catalog-4::before,
.catalog-5::before,
.catalog-6::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-1::before {
  top: 21%;
  left: 20%;
  width: 97px;
  height: 55px;
  background-image: url("../img/icon/icon_catalog_1.svg");
}

.catalog-2::before {
  top: 10%;
  left: 23%;
  width: 86px;
  height: 117px;
  background-image: url("../img/icon/icon_catalog_2.svg");
}

.catalog-3::before {
  top: 15%;
  left: 30%;
  width: 71px;
  height: 87px;
  background-image: url("../img/icon/icon_catalog_3.svg");
}

.catalog-4::before {
  top: 20%;
  left: 16%;
  width: 107px;
  height: 65px;
  background-image: url("../img/icon/icon_catalog_4.svg");
}

.catalog-5::before {
  top: 13%;
  left: 33%;
  width: 56px;
  height: 98px;
  background-image: url("../img/icon/icon_catalog_5.svg");
}

.catalog-6::before {
  top: 20%;
  left: 9%;
  width: 132px;
  height: 69px;
  background-image: url("../img/icon/icon_catalog_6.svg");
}

.catalog-1:active::before,
.catalog-2:active::before,
.catalog-3:active::before,
.catalog-4:active::before,
.catalog-5:active::before,
.catalog-6:active::before,
.catalog__link:active {
  opacity: 0.3;
}

.catalog__link {
  letter-spacing: 0.05em;
}

.page {
  height: 100%;
}

.services {
  position: relative;
  height: 400px;
  margin-top: 50px;
  z-index: 2;
  overflow: hidden;
}

.services::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68%;
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.slider-service {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 400px;
}

.slide-service__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-service__item {
  padding-bottom: 20px;
}

.link--service {
  max-width: 160px;
}

.link--active {
  color: var(--special-yellow);
  background-color: var(--basic-black);
  min-width: 271px;
  padding: 8px 0 8px 19px;
  text-align: left;
}

.slide-service__list::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 290px;
  width: 7px;
  height: 320px;
  background-image: url("../img/icon/icon_line_black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-service__title {
  margin: 0;
  padding: 0;
}

.slide-service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-position: right;
  background-repeat: no-repeat;
}

.slide-service__description {
  margin-top: -53px;
}

.slide-service_one {
  background-image: url("../img/icon/servie_icon_delivery.svg");
}

.slide-service_two {
  background-image: url("../img/icon/service_icon_warranty.svg");
}

.slide-service_three {
  background-image: url("../img/icon/service_icon_credit.svg");
}

.popular-product {
  margin-top: 90px;
  margin-bottom: 90px;
}

.popular-product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.popular-product__img {
  opacity: 0.1;
}

.popular-product__img:hover {
  opacity: 1;
}

.info-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
}
.about-us,
.contacts {
  position: relative;
}

.contacts::before,
.about-us::before {
  outline: 2px solid #F0C52E;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-image: url("../img/icon/icon_line.svg");
  background-repeat: no-repeat;
}

.about-us__description,
.contacts__description {
  padding-top: 20px;
}

.delivery-company {
  margin-top: 60px;
  margin-bottom: 80px;
}

.delivery-company__item {
  position: relative;
  margin-top: 20px;
  margin-left: 34px;
}

.delivery-company__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -34px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--basic-grey-light);
}

.link--about-us {
  padding-left: 24px;
  padding-right: 18px;
}

.contacts__map-img{
  position:relative;
  width: 560px;
  height: 222px;
  margin-top: 40px;
  margin-bottom: 80px;
  border: none;
}

.map-block {
  display: grid;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.link--contacts {
  justify-self: left;
}

/*Футер*/

.page__footer {
  background-color: var(--basic-dark);
  margin-top: 85px;
}

.page__footer--wrapper {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu--low {
  grid-column: 1 / -1;
  justify-self: end;
}
.menu__item--low {
  margin-right: 63px;
}

.menu__item--low:last-child {
  margin-right: 0;
}

.menu__link--low {
  color: var(--basic-white-07);
}

.menu__link--low:hover {
  color: var(--basic-white);
}

.menu__link--low:active {
  color: var(--basic-white-03);
}

.logo--footer {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.nav-menu__item--low {
  margin-right: 35px;
}

.nav-menu__item--low:last-child {
  margin-right: 0;
}

.nav-menu--low {
  justify-self: center;
  margin-bottom: 65px;
}

.nav-menu__link--low:hover {
  color: var(--basic-white-06);
}

.nav-menu__link--low:active {
  color: var(--basic-white-03);
}

.tel-number {
  justify-self: end;
}

.line {
  margin-top: 15px;
}


.social {
  display: flex;
  justify-self: center;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.svg-social:hover path {
  fill-opacity: .6;
}

.svg-social:active path {
  fill-opacity: .1;
}


.copyright {
  justify-self: end;
}

.copyright:hover path {
  fill-opacity: .6;
}

.copyright:active path {
  fill-opacity: .3;
}

.page__catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
}


.product-title {
  grid-column: 1 / -1;
  margin-left: 60px;
}

.breadcrumbs {
  grid-column: 1 / -1;
  display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__item {
  margin-right: 40px;
}

.breadcrumbs__link:hover {
  color: var(--basic-black-06);
}

.breadcrumbs__link:active {
  color: var(--basic-black-01);
}

.breadcrumbs__link::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -25px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/icon_arrow_nav.svg");
  background-repeat: no-repeat;
  color: var(--basic-black);
}

.breadcrumbs-current::before {
  display: none;
}

.filters {
  margin-left: 60px;
}


.filter__item {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 43px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox + label:hover::before {
  border: 2px solid var(--basic-black-06);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled +label,
.filter-input-radio:disabled +label {
  color: var(--basic-grey-disable);
}
.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled +label::before {
  border: 2px solid var(--basic-black-025);
}

.filter-input-radio + label::before,
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.filter-input-radio + label::before {
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
}

.filter-input-radio:checked + label::after {
  top: 9px;
  left: 9px;
  width: 10px;
  height: 10px;
  background-color: var(--basic-black);
}

.filter-input-radio + label:hover::before {
  border: 2px solid var(--basic-black-06);
}

.filter-input-radio + label:hover::after {
  background-color: var(--basic-black-06);
}

.filter__item-sort {
  display: flex;
  justify-content: space-around;
}

.sort__item {
  text-transform: initial;
  color: var(--basic-black-03);
}

.sort__item:hover {
  color: var(--basic-black-06);
}

.sort__item:active,
.sort__item--active,
.sort__item--active:hover{
  color: var(--basic-black);
}

.sort__item--active:hover {
  cursor: pointer;
}

.catalog__wrapper {
  margin-left: 72px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sort-filter {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 70px;
}

.sort-filter__arrow-nav {
  justify-self: end;
}

.product-card {
  width: 360px;
  margin-bottom: 50px;
}

.pagination {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
}

.pagination__link {
  color: var(--basic-black);
}

.pagination__item:last-child {
  justify-self: end;
}

.link__number {
  color: var(--basic-black-03);
  padding-top: 25px;
  padding-bottom: 25px;
}

.link__number:hover {
  color: var(--basic-black-06);
}

.link__number:active {
  color: var(--basic-black);
}

.link__number--active {
  color: var(--basic-black);
  cursor: pointer;
}

.link__back,
.link__next {
  padding: 25px 30px 25px 30px;
}

.link__back:hover,
.link__next:hover {
  background-color: var(--basic-grey-hover);
}

.link__back:active,
.link__next:active {
  color: var(--basic-black-03);
}
